############################################################################################
########ignore R objects (lists, data frames) until I can separate 495 & seestimate proj's
############################################################################################

####in case there's an open file while you're committing...
*.swp

#####ignore tex files
*.tex
*.aux
*.log
*.pdf
*.out
*.toc

######Rhistory
.Rhistory

